#portal{
    --Orange-main: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White-main: hsl(0, 0%, 100%);
    --Black-main: hsl(0, 0%, 0%); 
  }

  .contentFormModal{
    position: relative;
    width: 100%;
    min-height: 100%;
    color: var(--Black-main);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
  }
  .portadaDetall {
    position: absolute;
    top: 0;
    width: 100%; 
    height: 11rem; 
    z-index: 1; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra con difuminado */
  
  }
  .areImgDetall{
    position: relative;
    width: 100%;
    margin-top: 4rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    z-index: 2;
  }
  .perfilDetallimg{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
  }
  .contentModalgallery {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    background: rgba(66, 65, 65, 0.9); /* Gris con 50% de opacidad */
    z-index: 1000;
    color: var(--White-mains);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .contentModalgallery .primaryModal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    width: 85vw;
    min-height: 70vh;
    background-color: #fff;
    color: var(--Black-main);
  }
  .DetallModal{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    width: 35vw;
    min-height: 90vh;
    background-color: #fff;
    color: var(--Black-main);
  }
  .iconCloseModal {
    position: absolute;
    top: 0.5rem; /* Ajusta la posición según sea necesario */
    right: 0.5rem; /* Ajusta la posición según sea necesario */
    color: #bc4749;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2; /* Asegura que el icono esté por encima de la imagen */
  }
  
  .iconCloseModal:hover {
    color: var(--Orange-main);
  }
 .imgPrimayModal{
    width: 100%;
    height: 65vh;
    border-radius: 20px;
    position: relative;
  }

  .sedundaryModal{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .contentPrimary {
    position: relative;
  }
  .iconArrow{
    width: 2.5rem;
    height: 2.5rem;
    background: var(--White-main);
    color: var(--Black-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1rem;
  }
  .left {
    left: -20px;
    z-index: 2000;
  }
  
  .right {
    right: -20px;
  }
  
 
  .iconArrow:hover{
    color: var(--Orange-main);
  }
  .infoModalDetalluser{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #003049;
  }

  @media (max-width: 768px) {
    .DetallModal{
      width: 90vw; 
    }

    }