:root {
  --width: 100%;
  --border-radius: 0.5rem;
}
button {
  align-self: center;
  cursor: pointer;
  padding: 10px;
  border: solid 1px #787676;
  background-color: #cac9c9;
  &:hover {
    background-color: #ecebeb;
  }
}
.bgContainer {
  /* background-color: #8498b5; */
  height: 92vh;
  display: grid;
  place-items: center;
}

.articleRole {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  width: 90%;
  & .containerPicture {
    display: flex;
    justify-content: center;
    position: relative;
    background: #3ec6ff;
    height: 90vh;
    width: var(--width);
  }
}

@media screen and (width < 768px) {
  .articleRole {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    & .containerPicture {
      border-radius: none;
      height: 41vh;
    }
  }
}
.imgRole {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: center;
  height: auto;
  max-width: 300px;
  border-radius: var(--border-radius);
}

.infoUser {
  height: auto;
  width: var(--width);
  background-color: #dbd7d7;
  display: flex;
  flex-direction: column;
  /* border-radius: 0 1.5rem 1.5rem 0; */
}
@media screen and (width < 768px) {
  .imgRole {
    max-width: 160px;
  }
  .infoUser {
    height: 128%;
  }
  .ContainerUserInfo {
    height: 8vh;
  }
}
.ContainerUserInfo {
  border-radius: var(--border-radius);
  padding: 1rem;
  height: 40vh;
}
.ToContantFather {
  background-color: #cccccc;
  text-align: center;
  padding: 1rem;
  min-width: 231px;
}
.ContainerUserInfo > * {
  margin: 1rem;
}

.LastName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  & p {
    text-align: center;
  }
}

.redireccionDeUsuario {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  gap: 1rem;
  border: solid 1px #5e5757;
  & button {
    border-radius: var(--border-radius);
    cursor: pointer;
    border: solid 2px #b7b7b7;
    padding: 5px;
    height: 40px;
    min-width: 6rem;
    &:hover {
      background-color: #a8a8a8;
    }
  }
}

.infoNameAnotherUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  & p {
    width: fit-content;
    display: flex;
    justify-content: start;
    align-self: center;
  }
}
@media screen and (width < 409px) {
  .infoNameAnotherUser {
    display: flex;
    flex-direction: column;
    & p {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .redireccionDeUsuario {
    display: flex;
    flex-direction: column;
  }
}
/* Componente Prophile/Parents.jsx */
.ContainerDatosDePariente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;

  & i {
    color: #6c6eb2;
  }
  & button {
    display: flex;
    align-self: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: solid 2px #fff;

    @media screen and (width < 768px) {
      padding: 0.2rem;
    }

    & FaRegEye {
      color: #000;
    }
    &:hover {
      background-color: #9a9cd5;
    }
  }
}
