:root{
    --color-blue-promedio:#3E86E4;
}

.containerCardPromedio {
    width: 15rem;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #ffffff;
    background: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.titleCardPromedio {
    color: var(--color-blue-promedio);
    text-transform: uppercase;
}
.numberCardPromedio {
    font-size: 2.3rem;
    color: var(--color-blue-promedio);
    font-weight: 700;
}
.circleCardPromedio {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnCardPromedio{
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #f8f9fa;
    background: var(--color-blue-promedio);
    cursor: pointer;
    &:hover{
        background-color: #a4c5f1;
    }
}
