.containerDetailProfile{
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
}
.titleWelcome{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #005f73;
    font-size: 2rem;
}
.iconWelcome{
    color: #3E86E4;
}
.studentPhoto{
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}

.headDetailProfile{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: #0077b6;
    padding: 0 1rem;
    color: #fff;
}
.itemHeadDetailProfile{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    height: 3rem;
    font-weight: 700;
    &:hover{
        color: #aeaeae;
    }
}

.listPromediosDetailProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.infoDetailProfile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    color: #005f73;
    padding: 1rem 0;
}
.itemPromedio{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.contentEventProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}



@media screen and (max-width: 1000px) {
    .titleWelcome{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .listPromediosDetailProfile{
        align-items: center;
    }
    .itemPromedio{
        justify-content: center;
    }
  }