.btnAdd{
    padding: .7rem 1.2rem;
    border-radius: 10px;
    background: #0077b6;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}